{% extends 'layout.html'%}

{% block body %}

<h2>Add Book</h2>

<form method="POST" action="{{ url_for('addbook') }}">
        <label for="book_name">Name</label>
        <br>
        <input type="text" name="book_name">
        <br>
        <br>
        <p>Descriptiom</p>

        <textarea name="book_description"></textarea>
        <br>
        <br>
        <p>Price</p>
        <input type="text" name="book_price">
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}


