{% extends 'layout.html'%}

{% block body %}

    
    
    <form action="/user_profile" method="POST">
        <div class="row">
                <div class="col-md-12">
                        <div class="card" style="width: 60rem;">
                            <div class="card-body">
                                    <h1>User Profile</h1>
                                    <label for="name" >Name:</label>
                                    <br>
                                    <input name="name"type="text" class="form-control" value="{{current_user.name}}">
                                    <br>
                                    <label for="email" >Email:</label>
                                    <br>
                                    <input name="email" class="form-control" type="text" value="{{current_user.email}}">
                                    <br>
                                    <label for="password">Password:</label>
                                    <br>
                                    <input name="password" class="form-control" type="text" value="{{current_user.password}}">
                                    <br>
                                    <label for="physical_address" class="">Physical Address</label>
                                    <br>
                                    <input name="physical_address" class="form-control" type="text" placeholder="{{current_user.physical_address}}">
                                    <br>
                                    <br>

                                    <button type="submit" class="btn btn-outline-info">Update User Information</button>  
                            </div>
                        </div>
                </div>
            </div>

            <br>
            <h1 style="">Shipping Addresses</h1>
            <button class="btn btn-outline-info" ><a href="/add_user_shipping">Add Shipping address</a></button>
            <br>
            <br>

           
            {% for user_shipping in user_shippings %}
               
                <div class="card" style="width: 18rem;">
                        <div class="card-body">
                    <strong >Shipping Address: </strong>     {{user_shipping.ShippingAddr}}
                    <br>
                    <!-- <input type="text" placeholder="{{user_shipping.ShippingAddr}}" class="form-control"> -->
                      <strong>Shipping City:</strong>       {{user_shipping.ShippingCity}}
                    <!-- <input type="text" placeholder="{{user_shipping.ShippingCity}}" class="form-control"> -->
                    <br>
                      <strong>Shipping State:</strong>        {{user_shipping.ShippingState}}
                    <!-- <input type="text" placeholder="{{user_shipping.ShippingState}}" class="form-control"> -->
                    <br>
                      <strong>Shipping Zip:</strong>        {{user_shipping.ShippingZip}}
                    <!-- <input type="text" placeholder="{{user_shipping.ShippingZip}}" class="form-control"> -->
                    <br>
                    <br>
                    <button class="btn btn-outline-info"><a href="{{ url_for('edit_user_shipping', id=user_shipping.id) }}">Edit</a></button>
                    <button class="btn btn-outline-danger"><a style="text-decoration:none;" href="{{ url_for('delete_user_shipping', id=user_shipping.id) }}">Delete</a></button>
                    <br>
                    <br>
                </div>
            </div>
            {% endfor %}


            

            <h1>Credit Cards</h5>
            <div class="row">
                {% for user_card in user_cards %}
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                Name On Card:
                                <h5 class="card-title">{{user_card.NameOnCard}}</h5>
                                <br>
                                CreditCardNum:
                                <input type="text" placeholder="{{user_card.CreditCardNum}}">
                                <br>
                                <br>
                                Exp Month
                                <input type="text" placeholder="{{user_card.ExpMonth}}">
                                <br>
                                <br>
                                Exp Year
                                <br>
                                <input type="text" placeholder="{{user_card.ExpYear}}">
                                <br>
                                <br>
                                CVS
                                <br>
                                <input type="text" placeholder="{{user_card.CVS}}">                <br>  
                                <br>           
                                <button class="btn btn-outline-info"><a href="{{ url_for('edit_user_card', id=user_card.id) }}">Edit</a></button>
                                <button class="btn btn-outline-danger"><a style="text-decoration:none; " href="{{ url_for('delete_user_card', id=user_card.id) }}">Delete</a></button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

 
            <br>
            <br>
            <button class="btn btn-outline-info"><a class="btn" href="/add_user_card">Add Card</a></button>
            
    </form>
{% endblock %}